body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

td.sorted {
  background-color: #eaf1fc !important; /* Change to desired background color */
}

.sticky-bottom {
  background-color: white; /* Set a background color if needed */
  border-top: 1px solid #ccc; /* Add a border if needed */
  padding: 10px; /* Add some padding for better spacing */
}

.stats-table {
  // table {
  //   table-layout: fixed;
  // }
  .table-responsive {
    border-radius: 10px;
  }
  th {
    background: rgb(61, 56, 56);
    color: #fafafa;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  tr {
    border-color: transparent;
  }

  td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.table-pagination {
  font-size: 12px;

  button,
  input {
    font-size: 12px;
  }
}

.player-name {
  cursor: pointer;
}

.player-name:hover {
  text-decoration: underline;
}
